doctype html
html(lang='ja')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
        title 兵庫県 今しか見られない姫路城 | ゴリパラ旅検索
        meta(name='author' content='Yahiro Satoshi')
        meta(name='description' content='ゴリパラ旅検索、兵庫県 今しか見られない姫路城のページです')
        link(rel="stylesheet" href="./article.css")
        link(rel='icon' href='../../../img/favicon.ico/favicon.ico' type='image/x-icon') 
        script(src='#')

    body
        header
            h1 ゴリパラ旅検索

        .content-wrapper
            h2.page-title 兵庫県 今しか見られない姫路

            section.onair-date
                .section-title 放送日
                p 2013年6月21/28日

            section.summary
                .section-title あらすじ
                p ゴリゴリゴリゴリゴリけんですはい！

            section.summary
                .section-title 主な行き先
                a(href="#") ここ
                a(href="#") そこ
                a(href="#") どこ
